# global settings

HISTSIZE=10000
SAVEHIST=10000
HISTFILE=~/.zsh_history

# fzf : fuzzy finder
# see: https://github.com/junegunn/fzf?tab=readme-ov-file#demo
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# zoxide
# see: https://github.com/ajeetdsouza/zoxide?tab=readme-ov-file
eval "$(zoxide init zsh)"
alias cd="z"

# ls replacement
# see: https://eza.rocks (formerly exa: http://the.exa.website)
alias ls="eza"
alias ll="eza -alh"
alias tree="eza --tree"

# starship
eval "$(starship init zsh)"

{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- if $codespaces -}}
# codespaces specific settings

# cat replacement
# see: https://github.com/sharkdp/bat
# on linux use 'batcat' instead of 'bat'
alias cat='batcat --paging=never'
{{- end }}

{{ if eq .chezmoi.os "darwin" -}}
# macOS specific settings

alias pn=pnpm
alias t="truestamp"
alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"

# cat replacement
# see: https://github.com/sharkdp/bat
alias cat='bat --paging=never'

# deno completions
# regen with 'deno completions zsh > ~/.zsh/_deno'
fpath=(~/.zsh $fpath)
autoload -Uz compinit
compinit -u

# fnm : nodejs version manager
eval "$(fnm env --use-on-cd)"
{{ end -}}
